* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

/* === top-parent-container === */

@media only screen and (max-width: 600px) {
  .top-parent-container {
    display: grid;
    grid-template-areas: "left-side" "right-side";
    grid-template-columns: 100%;
    margin: 5% 5% 0 5%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .top-parent-container {
    display: grid;
    grid-template-areas: "left-side" "right-side";
    grid-template-columns: 100%;
    margin: 5% 5% 0 5%;
  }
}

@media only screen and (min-width: 901px) {
  .top-parent-container {
    display: grid;
    grid-template-areas: "left-side right-side";
    grid-template-columns: 30% 70%;
    margin: 5% 5% 0 5%;
  }
}

.left-side {
  grid-area: left-side;
}

.right-side {
  grid-area: right-side;
}

/* === bottom-parent-container === */

@media only screen and (max-width: 600px) {
  .bottom-parent-container{
    display: grid;
    grid-template-areas: "left-child-container" "middle-child-container" "right-child-container";
    grid-template-columns: auto;
    margin: 0 5% 0 5%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .bottom-parent-container{
    display: grid;
    grid-template-areas: "left-child-container left-child-container" "middle-child-container right-child-container";
    grid-template-columns: auto;
    margin: 0 5% 0 5%;
  }
}

@media only screen and (min-width: 901px) {
  .bottom-parent-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin: 0 5% 0 5%;
  }
}

/* === left-child-container === */

@media only screen and (max-width: 600px) {
  .left-child-container {
    display: grid;
    grid-template-areas: "top-content" "bottom-left" "bottom-right";
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .left-child-container {
    display: grid;
    grid-template-areas: "top-content top-content" "bottom-left bottom-right";
    grid-area: left-child-container;
  }
}

@media only screen and (min-width: 901px) {
  .left-child-container {
    display: grid;
    grid-template-areas: "top-content top-content" "bottom-left bottom-right";
  }
}

.top-content {
  grid-area: top-content;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-right {
  grid-area: bottom-right;
}

/* === middle-child-container === */

@media only screen and (max-width: 600px) {
  .middle-child-container {
    grid-area: middle-child-container;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .middle-child-container {
    grid-area: middle-child-container;
  }
}

@media only screen and (min-width: 901px) {
  .middle-child-container {

  }
}

/* === right-child-container === */

@media only screen and (max-width: 600px) {
  .right-child-container {
    display: grid;
    grid-template-areas: "stores-content" "footer-content";
    grid-area: right-child-container;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .right-child-container {
    display: grid;
    grid-template-areas: "stores-content" "footer-content";
    grid-area: right-child-container;
  }
}

@media only screen and (min-width: 901px) {
  .right-child-container {
    display: grid;
    grid-template-areas: "stores-content" "footer-content";
  }
}

.stores-content {
  grid-area: stores-content;
}

.footer-content {
  grid-area: footer-content;
}